* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
    /* font-family: 'Shadows Into Light', cursive; */
}

body {
    background-color: #fff
}

.navbar-brand {
    margin-left: 5rem;
}

.navbar-nav {
    margin-right: 5rem;
}

/* .heading-cursive {
    font-family: 'Shadows Into Light', cursive;
    font-size: 8rem;
    margin: 0;
    padding: 0;
}

.heading-sub {
    font-family: 'Encode Sans', sans-serif;
    font-size: 3rem;
} */
