* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans', sans-serif;
}

body, html {
    background-color: #fff
    height: 100%;
}

.navbar-brand {
    margin-left: 4rem;
}

.nav-item {
    margin: 0 0.3rem;
}

.nav-item .nav-link {
    font-size: 1rem;
}

.navbar-nav {
    margin-right: 4rem;
}

.title-logo {
    margin: 2rem;
    width: 70%;
    height: auto;
}

.parallax-1 {
    background-image: url("../assets/img/body-background-1.png");
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about-section {
    min-height: 100vh;
    padding: 4.5rem 0;
}

.about-container {
    position: relative;
    width: 100%;
}

.about-image {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%. -50%);
    text-align: center;
}

.about-container:hover .about-image {
    opacity: 0.3;
}

.about-container:hover .overlay {
    opacity: 1;
}

.overlay-text {
    background-color: #000;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.parallax-2 {
    background-image: url("../assets/img/body-background-2.jpg");
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.location-section {
    min-height: 100vh;
    padding: 4.5rem 0;
}

.parallax-3 {
    background-image: url("../assets/img/body-background-3.png");
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-section {
    min-height: 100vh;
    padding: 5rem 0;
}

.profile-picture {
    max-width: 100%;
}