* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff
}

.hero-parallax {
    background-image: url("../assets/img/property/hero-parallax-background-2.png");
    min-height: 975px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 40%;
}